---
import Layout from "../../../layouts/Layout.astro";
import Form from "../Form";
import Editor from "../../../components/Editor"
---

<Layout
    description="Latest Nextjs Optimised Tech code snippets for free Admin page"
    title="Admin"
>
    <h1 >new content</h1>
    <!-- <Form /> -->
    <Editor  client:only="react" />
</Layout>
