---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    description="Latest Nextjs Optimised Tech code snippets for free Admin page"
    title="Admin"
>
    <div class="flex w-full justify-center p-1 pr-2 sm:justify-end gap-5">
        <button
            class="btn btn-primary max-w-fit text-sm md:text-base lg:text-lg"
        >
            <a href="/admin/new-course"> New Course</a>
        </button>
        <button
            class="btn btn-primary max-w-fit text-sm md:text-base lg:text-lg"
        >
        <a href="/admin/new-content"> New Content</a>
        </button>
    </div>

    <h1 class="text-center text-4xl font-sans text-black">hello every world</h1>
</Layout>
